@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.3rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}


html, body{
  height: 100%;
  overflow: hidden;
}

body{
  /* height: 80vh; */
  overflow-y: scroll
}

.scroll ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: #ff0000;
  /* @apply bg-secondary; */
}

.scroll ::-webkit-scrollbar-thumb {
  border-radius: 7px;
  /* background-color: #bdbaba */
  background-color: #ff0000;
  /* @apply bg-secondary; */
}


.tremor-Legend-legendItem, .text-tremor-default, .text-tremor-content{
  text-transform: capitalize !important;
}
 
@layer base {
  * {
    @apply border-border;
    font-family: 'General Sans', sans-serif;

  }
  body {
    @apply bg-background text-foreground;
    font-family: 'General Sans', sans-serif;
    height: 100%;
  }
}

.green{
  background-color: #007d00;
}

ol {
  list-style-type: decimal; /* Ensure decimal numbering */
  margin-left: 20px; /* Adjust the left margin as needed */
}
ol li{
  text-align: 0.85rem;
}

.color{
  color: #ff0000;
}

.auth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bghero{
  /* background-image: url('https://images.pexels.com/photos/5716025/pexels-photo-5716025.jpeg?auto=compress&cs=tinysrgb&w=800'); */
  background-image: url("https://res.cloudinary.com/dnir0cslk/image/upload/v1701582177/Homepage_Background_opxvy4.png");
  /* background-position: 0px 298px; */
  background-repeat: no-repeat;
  background-size: cover;
  /* transition:  0.3s, border-radius 0.3s, opacity 0.3s; */
  /* width: 400px; */
  height: 100%;
}

.hero{
  background-image: url('https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyYXBofGVufDB8fDB8fHww');
  background-repeat: no-repeat;
  background-size: cover;
}

.canvasjs-chart-toolbar{
  display: none;
}
tspan{
  font-size: 0.875rem;
}